{{define "content"}}
<h2>Welcome to Web4</h2>

<p>A language model generates an article about a topic, then a list of articles it links to.</p>
<p>
    Repeat forever.
    <br>
    Grow forever.
</p>

<p>There is a similar project ongoing at <a href="https://www.google.com">google.com</a>.</p>
<center>
<a href="/random" class="btn btn-primary random-btn">🎲 Explore 🎲</a>
</center>  
<h2>The Interesting Part</h2>
<p>Humans can monitor the status of the project and browse Web4 through <a href="https://babelcom.johncave.co.nz/">babelcom</a>. </p>
<p>Bots can continue scraping this site. The ouroboros hungers.</p>

<p>This project is running on the slowest computer in my collection: an Intel Compute Stick. It takes about 10 minutes to generate each article. However, it is exactly 0% slower than a cluster of supercomputers.</p>

<!-- <div class="project-stats">
    <h3>Current Status</h3>
    <p>Articles generated: {{.Count}}</p>
    <p>Generation rate: ~6 articles per hour</p>
    <p>Estimated completion: Never</p>
</div> -->
{{end}} 